<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>248552006510-4eg9bok7l1mddm3cvgtpbgf97lb9nag4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.248552006510-4eg9bok7l1mddm3cvgtpbgf97lb9nag4</string>
	<key>API_KEY</key>
	<string>AIzaSyBNJywZ06vkZp9VG99DE6hBX02XLNpuohA</string>
	<key>GCM_SENDER_ID</key>
	<string>248552006510</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sharedPantry</string>
	<key>PROJECT_ID</key>
	<string>shared-pantry</string>
	<key>STORAGE_BUCKET</key>
	<string>shared-pantry.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:248552006510:ios:83ff5cca2833667c57577f</string>
</dict>
</plist>